*{
    padding: 0;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#body{
    background-image: url("Design Images/Backgrounds/Orange background1.png");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    width: 100%;
    justify-content: center;
}
#menu{
    background-color: white;
    height: auto;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    border-bottom: 1px solid none;
}
#bottommenu{
    background-color: white;
    height: auto;
    margin-top: 13.5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    border-bottom: 1px solid none;
}
.underline{
    border-bottom: 1px solid #676767;
    margin-bottom: 10px;
}
#logo{
    width: 55vh;
    height: 20vh;
    background-color: none;
    display: flex;
    justify-content: center;

}
#btmlogo{
    width: 55vh;
    height: 10vh;
    background-color: none;
    display: flex;
    justify-content: center;

}
#logo img{
    height: 100%;
    width: auto;
}
#links{
    width: 55vh;
    background-color: none;
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    
}
#btmlinks{
    width: 55vh;
    background-color: none;
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-align: justify;
    flex-wrap: wrap;
    padding-top: 2vh;
}
#btmlinks a{
    font-size: 2vh;
    color: #000000;
    text-decoration-line: none;
   
}
.linksa{
    font-size: 2.5vh;
    color: #000000;
    text-decoration-line: none;
}
#currentpage{
    font-size: 2.5vh;
    text-decoration-line: none;
    color:transparent;
    background-image: linear-gradient(rgba(251, 175, 64),rgba(242, 87, 56));
    background-clip: text;
    -webkit-background-clip: text;
}
#contentcontainer{
    height: auto;
    width: 95%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.85);
    margin-top: 20px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    box-shadow: 0px 5px 10px  #3d3d3d98;
}

h1{
    text-align: center;
    background-color: transparent;
    color: #000000;
    font-size: 5vh;
    padding: 1vh;
    margin: auto;
    margin-top: 5%;
    font-weight: 100;
}
p{
    font-size: 2.5vh;
    font-weight: 100;
    text-align: center;
    background-color: transparent;
    color:#000000;
    padding: 3vh;
  
}
#text{
    height: 55vh;
    width: 55vh;
    background-color:transparent;
    display: grid;
    justify-content:space-evenly;
}
#images{
    height: auto;
    width: 55vh;
    background-color:black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: auto;
}
#images img{
    height: 17.6vh;
    margin: auto;
}
#browsebtn{
    position: absolute;
    background-color: white;
    text-align: center;

}
#uploadbtn{
    background-color: black;
    margin: auto;
    color: white;
}
.btn{
    height: 8vh;
    width: 40vh;
    color: #000000;
    font-size: 3vh;
    box-shadow: 0px 5px 10px #3d3d3d98;
    cursor: pointer;
    border-radius: 0px;
    border: 0px;
}
.btn:hover{
    scale: 105%;
}
#info{
    background-color: none;
    width: 30vh;
    padding-top: 2vh;
}
#info h2{
    font-size: 2vh;
    text-align: center;
    font-weight: 100;
}

/*//////////Form//////////*/
#formcontentcontainer{
    height: fit-content;
    width: 95%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.85);
    margin-top: 20px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    box-shadow: 0px 5px 10px  #3d3d3d98;
}
.inputcat{
    height: auto;
    width: 100%;
    background-color: none;
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    margin-top: 0px;
}
.cattitle{
    width: 100%;
    text-align: center;
    background-color: none;
    font-weight: 100 ;
    font-size: 3vh;
    margin-top: 4vh;
    
}
.subcat{
    width: 100%;
    height: fit-content;
    font-size: 2.5vh;
}
.inputfieldfile{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 10px;
}
#file{
    font-size: 2vh;
}
.inputfield{
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 2vh;
}
#formtext{
    height: fit-content;
    width: 80%;
    background-color:none;
    display: grid;
    justify-content:space-evenly;
}
#confirmorder{
    margin: auto;
    margin-bottom: 2vh;
    display: flex;
    text-justify: center;
    align-items: center;
    text-align: center;
    background-color: black;
}
#cnfrmtxt{
    height: auto;
    width: 100%;
    background-color: black;
    color: white;
    text-decoration-line: none;
    
}
/*//////////browse//////////*/
#eximgcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
    justify-self: center;
    margin: auto;

}
.eximg{
    height: 38.2vh;
    width: 38.2vh;
    outline: 1vh solid black;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
#eximgcontentcontainer
{
    height: 44vh;
    width: 40vh;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.85);
    margin-top: 20px;
    display: grid;
    flex-wrap:wrap;
    justify-content: space-evenly;
    box-shadow: 0px 5px 10px  #3d3d3d98;
    text-align: center;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 3vh;
}



